*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0b1426;
    color:#fff;
}

.container{
    width:90%;
    max-width:420px;
    margin:40px auto;
}

.card{
    background:#1b263b;
    border-radius:15px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
}

.logo{
    font-size:60px;
    text-align:center;
    color:#f0b90b;
}

h1{
    text-align:center;
    margin:20px 0;
    color:#f0b90b;
}

input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:#f0b90b;
    color:#000;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#ddb000;
}

a{
    color:#f0b90b;
    text-decoration:none;
}

p{
    text-align:center;
    margin-top:20px;
}

.nav{
    background:#111827;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.balance{
    font-size:22px;
    color:#00ff88;
    margin:20px 0;
    text-align:center;
}

.box{
    background:#1b263b;
    border-radius:15px;
    padding:20px;
    margin:15px 0;
}

.menu button{
    margin-bottom:10px;
  }
